* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/* --- end of css reset --- */

@font-face {
    font-family: 'Cristal Noir';
    font-style: normal;
    font-weight: normal;
    src: url('./font/CrystalNoir-Regular.otf') format('opentype');
}

body {
    font-family: 'Questrial', sans-serif;
}