* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/* --- end of css reset --- */

@font-face {
    font-family: 'Cristal Noir';
    font-style: normal;
    font-weight: normal;
    src: url('./font/CrystalNoir-Regular.otf') format('opentype');
}

body {
    font-family: 'Questrial', sans-serif;
    background-color:#9C8F7F;
}

#root {
    width: 100%;
    height: 100vh;
    /* background-color:#C0BAA0; */

   /*  display: flex;
    flex-direction: column;
    align-items: center; */
}

/* ---------------------------- landing css -------------------------- */

.landing {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(4, 270px);
    grid-column-gap: 50px;

    width: 1235px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    background:radial-gradient(ellipse #d7fc00);
    /* Created with https://www.css-gradient.com */
    background: #D7FC00;
    background: -webkit-radial-gradient(center, #D7FC00, transparent);
    background: -moz-radial-gradient(center, #D7FC00, transparent);
    background: radial-gradient(circle at center, #D7FC00 10%, transparent 45%);
}

.landing nav {
    position: relative;

    grid-column-start: span 4;

    display: flex;
    list-style-type: none;
    gap: 40px;

    height: 100px;
    width: 100%;

    justify-content: flex-end;
    align-items: center;

    color: #fbfeed;
    text-transform: uppercase;
}

.landing nav h3 {
    position: absolute;
    left: 0;
    font-family: 'Cristal Noir';
    font-size: 50px;
    letter-spacing: 0.02em;
    font-weight: 200;
    
}

.landing h2 {
    color: #d7fc00;
    font-family: 'Cristal Noir';
    letter-spacing: 0.02em;
    font-size: 250px;
    font-weight: 200;
    z-index: 1;
    text-transform: uppercase;
}

.landing :nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
.landing :nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    justify-self: end;
}

.landing p {
    font-family: 'Cristal Noir';
    font-size: 50px;
    color: #fbfeed;
    letter-spacing: 0.02em;
}

/* ---------------- landing photo --------------- */

.ellipse {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    justify-self: center;
    align-self: center;
    background-image: url(/public/images/neon-cat.jpg);
    background-position: center 17%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 900px;
    height: 450px;
    border-radius: 50% ;
    transform: rotate(-35deg);
    z-index: 0;
    opacity: 0.9;
}

/* -------- neon circles ---------- */
.circle {
    position: relative;
    width: 160px;
    height: 160px;
    /* transform: translate(-50%, -50%); */

    border-radius: 80px;
    
}

.bc {
    border: 2px solid #d7fc00;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(-50%, -50%);
}

.circle :nth-child(1) {
    
    width: 140px;
    height: 140px;

    border-radius: 70px;
}
.circle :nth-child(2) {
    width: 120px;
    height: 120px;

    border-radius: 60px;
}
.circle :nth-child(3) {
    width: 100px;
    height: 100px;

    border-radius: 50px;
}
.circle :nth-child(4) {
    width: 80px;
    height: 80px;

    border-radius: 40px;
}
.circle :nth-child(5) {
    width: 60px;
    height: 60px;

    border-radius: 30px;
}
.circle :nth-child(6) {
    width: 40px;
    height: 40px;

    border-radius: 20px;
}

/* -------------------- BIO ---------------------- */

.bio {
    height: 400px;
    width: 100%;
    padding-top: 100px;

    background-color: inherit;
    
    text-transform: uppercase;
    font-family: 'Cristal Noir';
    font-size: 65px;
    color: #fbfeed;
    letter-spacing: 0.02em;
}

.bio div {
    width: 1235px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 150px;
    z-index: 0;
}

.bio div p {
    z-index: 1;
}

.bio div div {
    width: 300px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #26242277;
    transform: rotate(-45deg) translateX(50%);
    margin: none;
}

/* -------------------- about ---------------------- */

.about {
    width: 100%;
    height: 50vh;
    background-color: inherit;
}

h1 {
    display: inline-block;

    color: #d7fc00;
    font-family: 'Cristal Noir';
    letter-spacing: 0.02em;
    font-size: 267px;
    font-weight: 200;
    z-index: 1;
    text-transform: uppercase;
}

/* -------------------- photos ---------------------- */

#photos {
    background-color: inherit;
    width: 100%;
    height: auto;
}

#photos :first-child {
    width: 1235px;
    margin-left: auto;
    margin-right: auto;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide img {
    height: 50vh;
    min-height: 600px;
    width: auto;
    object-fit: cover;
}

.pic-data {
    padding-left: 615px; 
}

.pic-data h2 {
    color: #d7fc00;
    font-family: 'Cristal Noir';
    letter-spacing: 0.02em;
    font-size: 50px;
    font-weight: 200;
}
.pic-data h3 {
    color: #fbfeed;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
}

.swiper-button-next,
.swiper-button-prev {
    color: #D7FC00;
    top: 54%
}

/* -------------------- upload photos ---------------------- */

.upload {
    width: 100%;
    /* height: 100vh; */

    background-color: #4a4641;
}

.upload div{
    width: 1235px;
    margin-left: auto;
    margin-right: auto;
}

.upload h1 {
    font-size: 250px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;

    height: 600px;
    width: 600px;
}

form input {
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #fbfeeda3;
    font-size: 25px;
}

#up {
    color: #fbfeed;
    font-family: 'Cristal Noir';
    letter-spacing: 0.02em;
    font-size: 50px;
    font-weight: 200;
    align-self: flex-end;
}

#up:hover {
    color: #d7fc00;
}